<!DOCTYPE html>
<html>
<head>
	<title>Magic: The Gathering</title>
	<link rel="stylesheet" href="{{static_url("css/normalize.css")}}">
	<link rel="stylesheet" href="{{static_url("css/main.css")}}">
	<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
	<script type="text/javascript" src="{{static_url("js/kinetic-v4.5.5.min.js")}}"></script>
	<script type="text/javascript" src="{{static_url("js/main_app.js")}}"></script>
</head>
<body>
	<div id="main"></div>
</body>
</html>